{% extends "doc/base.html" %}
{% load crispy_forms_tags %}

{%block content%}

<head>
    <style>
        .user-profile {
            display: flex;
            /* Allows elements to display in a row */
            align-items: center;
            /* Aligns items vertically */
        }

        .user-details {
            margin-left: 20px;
            /* Adjust this value to set the distance between the image and details */
        }
    </style>
</head>

<article class="media content-section">
    <div class="user-profile">
        <img src="{{ user.profile.image.url }}" class="rounded-circle" width="200" height="200" style="vertical-align: middle"
            alt="Profile Picture">
        <div class="user-details">
            <h1>{{user.first_name}}{{user.last_name}}</h1>
            <p>{{user.email}}</p>
            <!-- Add other details here -->
        </div>
    </div>
</article>





{%endblock content%}